<section class="hero is-info is-fullheight">
    <div class="hero-head">
      <app-navbar></app-navbar>
    </div>
  
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          {{ title }}
        </p>
        <p class="subtitle">
          {{ subtitle }}
        </p>
        <button class="button is-info is-inverted">
            <span class="icon">
                <i class="fa fa-volleyball-ball"></i>
            </span>
            <span>
                Join Us
            </span></button>
      </div>
    </div>
  
    <div class="hero-foot">
      
    </div>
  </section>
